apiVersion: v1
kind: Service
metadata:
  name: mysql-svc # Nombre del Service "El backend usará este nombre"
spec:
  selector:
    app: mysql # Selecciona los Pods del StatefulSet
  ports:
    - protocol: TCP
      port: 3306
      targetPort: mysql # Nombre del puerto en el contenedor del Pod
  clusterIP: None # Service Headless (no tiene ClusterIP, útil para StatefulSets y DNS)