apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: biblioteca
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80 # Puerto del Service
      targetPort: 80 # Puerto del contenedor (Nginx)
  type: ClusterIP
  # Opcional: Puedes especificar un nodePort fijo si quieres
  # nodePort: 30000 # Rango usualmente entre 30000-32767